.h1-events {
  /* margin: 0 2rem; */
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;
    margin: 2rem;
    /* max-width: 1400px; */
}

.gallery__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hyatt_gallery__item--1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
  }

  /* .lv_gallery__item--1 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
  } */


@media only screen and (max-width: 450px) {

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(6, auto);
    grid-gap: 15px;
    margin: 2rem;
  }

  .hyatt_gallery__item--1 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
  }


}
