#subscribe_form {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.form-el, .submitButton {
  height: 40px;
  vertical-align: middle;
  border: 1px solid var(--color3);
  background-color:  white;
  position: relative;
  padding: 2px;
  width: auto;
  flex-grow: 1;
  font-size: 16px;
  letter-spacing: 1px;
  text-indent: 10px;
}

#contact {
  background-color: #1565c0;
  padding: 70px 0 70px 0;
}

.form-el {
  margin-right: 20px;
}


.submitButton {
  min-width: 150px;
  transition: 250ms ease-in-out;
}

.submitButton:hover {
  background-color: var(--color3);
  color: black;
}

.submitButton:active {
  border: 1px solid white;
  background-color: var(--color3);
  color: white;
}

.message {
  flex-grow: 2;
}

textarea {
  resize: vertical;
}

.message > label {
  padding-top : 7px;
}

.form-el::placeholder {
  padding-top: 7px;
}

.alertEmail {
  padding: 40px 0px;
  margin: auto;
  text-align: center;
  color: #ffff;
}


@media only screen and (max-width: 850px) {
  #subscribe_form {
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }

  .form-el {
    margin-right: 0px;
    margin-bottom: 10px;
    width: 100%;
  }

  .alertEmail {
    padding: 20px 0px;
  }
}
