.transition-alt {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  text-align: center;
  background-color: black;
  text-transform: uppercase;
}

/* .hidden {
  background-image: linear-gradient(to top, rgba(245, 246, 252, 0), black),url('../../public/static/images/III_Who_Are_We/hidden.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
} */

.transition-alt #quote1 {
  margin-top: 20px;
  max-width: 500px;
  font-size: 5rem;
  line-height: 0.8;
  color:white;
}

.transition-alt #quote2 {
  margin-top: 20px;
  max-width: 500px;
  font-size: 1rem;
  line-height: 0.8;
  text-transform: none;
  color:white;
}

.transition-alt i {
  background-color:  #1565c0;
  font-size: 5.3rem;
  color: white;
  font-family: "Snell Roundhand Script";
  text-transform: capitalize;
}
